body{
    font-family: 'Times New Roman', Times, serif;
}
.header{
    background-color: #000000;
}
.nav-text{
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.home-banner{
    background-color: rgb(16 6 66);
    padding: 40px 0px;
}
.home-banner-area h4{ 
    color: #98e7ed;

}
.home-banner-area h3{ 
    color: #e6ed7f;

}
.banner-btn {
    padding: 7px 22px;
    color: #fff;
    border: 2px solid #ffe32d;
    border-radius: 13px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
     
}
.banner-btn:hover{
    background-color: #ffe32d;
    transition: 0.3s;
}